@use '../global/' as g;

.Feature__num {
  position: absolute;
  top: -4rem;
  left: -1rem;
  font-size: 5rem;
  color: var(--main-color);
  font-weight: bold;
  @include g.md {
    left: -2rem;
    top: -6rem;
    font-size: 8rem;
  }
}