@use '../global/' as g;

.header {
  position: fixed;
  z-index: 9999;
  background: var(--base-color);
  border-bottom: 1.5px solid var(--accent-color);
  width: 100%;
  @include g.md {
    min-height: 80px;
  }
}